:host {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.top-header {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.left,
.right {
  flex: 1;
}

.right {
  display: flex;
  justify-content: right;
}

.center {
  flex: 0;
}

.banner-img {
  height: 100px;
  width: fit-content;
  display: flex;

  img {
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    padding: 0px 20px;
  }
}

.checkout-size {
  height: 48px;
}

.nav-tabs {
  display: flex;
  gap: 40px;

  a {
    text-decoration: none;
    color: black;
    font-size: medium;
    padding: 20px 40px;
  }

  a.active {
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 12px;
  }
}

.login-register {
  display: flex;
  justify-content: right;
  padding-right: 80px;
}
