<header class="top-header">
  <div class="banner-img left" [class.checkout-size]="isAtCheckout()">
    <img
      src="assets/main_banner.png"
      [routerLink]="['/home']"
      alt="Quantum Mart Logo"
      draggable="false"
    />
  </div>

  @if (showNavTabs()) {
    <div>
      <nav class="nav-tabs center">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      </nav>
    </div>
  }

  <div class="right">
    @if (showUserCard()) {
      @if (user !== null) {
        <app-user-card></app-user-card>
      } @else {
        <div class="login-register">
          <h2><a routerLink="/login">Login</a> or <a routerLink="/register">Register</a></h2>
        </div>
      }
    }
  </div>
</header>
