<header class="top-header">
  <div class="banner-img left">
    <img
      src="assets/yell-records-banner.png"
      [routerLink]="['/home']"
      alt="Yell Records Logo"
      draggable="false"
    />
  </div>

  @if (showNavTabs()) {
    <div>
      <nav class="nav-tabs center">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      </nav>
    </div>
  }

  <div class="right">
    @if (user === null) {
      <!-- Guest information group -->
      <div class="view-cart-btn">
        @if (showViewCart()) {
          <app-cart-button [guest]="true"></app-cart-button>
        }
      </div>
    }
  </div>
</header>
