<h1>Checkout</h1>
<div class="checkout-layout">
  <section class="form-box">
    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="addressForm">
        <ng-template matStepLabel>Shipping Address</ng-template>

        <h2>Shipping Address</h2>

        @if (hasAddress()) {
          <mat-checkbox
            [formControl]="useSavedAddressControl"
            (change)="onSavedAddressCheck($event)"
            >Use saved address</mat-checkbox
          >
          <br /><br />

          @if (useSavedAddressControl.value) {
            <app-select-address (addressSelected)="onAddressSelected($event)"></app-select-address>
          }
        }

        @if (!hasAddress() || !useSavedAddressControl.value) {
          <app-address-form
            [formGroup]="addressForm"
            [isCheckout]="true"
            submitText="Next"
            (submitted)="setAddress($event)"
          ></app-address-form>
        } @else {
          <button matButton="filled" matStepperNext>Next</button>
        }
      </mat-step>

      <mat-step [completed]="false">
        <ng-template matStepLabel>Review and Submit</ng-template>

        <h2>Review your shipping address</h2>

        <div>
          <h3>Ships to:</h3>
          <p>{{ getFullName() }}</p>
          <p>{{ getFullAddress() }}</p>
          <p><b>Contact:</b> {{ shippingAddress()?.phone ?? '' }}</p>
        </div>

        <h3>Total: {{ getTotal() | currency }}</h3>

        <button matButton="filled" (click)="placeOrder()">Place Order</button>
      </mat-step>
    </mat-stepper>
  </section>

  <section class="summary-box">
    <h2>Summary</h2>
    <hr />
    <h3>Subtotal: {{ subTotal() | currency }}</h3>
    <h3>Shipping: FREE</h3>
    <h3>Fees: {{ (subTotal() ?? 0) * taxAmount | currency }}</h3>
    <h3>Total: {{ getTotal() | currency }}</h3>
  </section>

  <section class="cart-contents-box">
    @if (cartItems() !== null) {
      <h2>In your cart</h2>
      <hr />
      <app-cart-item-card-list [cartItems]="cartItems()!" [showDelete]="false" />
    }
  </section>
</div>
