<h1>Checkout</h1>
<div class="checkout-layout">
  <section class="form-box">
    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="checkoutForm">
        <ng-template matStepLabel>Shipping Address</ng-template>

        <h2>Shipping Address</h2>

        <!-- Shipping form -->
        <form [formGroup]="checkoutForm"></form>
      </mat-step>

      <mat-step [completed]="false">
        <ng-template matStepLabel>Review and Submit</ng-template>

        <h2>Review your shipping address</h2>

        <div>
          <h3>Ships to:</h3>
          <p>{{ shippingFullName() }}</p>
          <p>{{ shippingFullAddress() }}</p>
          <p><b>Contact:</b> {{ formPhone }}</p>
        </div>

        <h3>Total: {{ subtotal | currency }}</h3>

        <button matButton="filled" (click)="placeOrder()">Place Order</button>
      </mat-step>
    </mat-stepper>
  </section>

  <section class="summary-box">
    <h2>Summary</h2>
    <hr />
    <h3>Total: {{ subtotal | currency }}</h3>
  </section>

  <section class="cart-contents-box">
    @if (cartItems !== null) {
      <h2>In your cart</h2>
      <hr />
      <app-cart-item-card-list [cartItems]="cartItems" [showDelete]="false" />
    }
  </section>
</div>
