<h1>Checkout</h1>
<div class="checkout-layout">
  <section class="form-box">
    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="checkoutForm">
        <ng-template matStepLabel>Shipping Address</ng-template>

        <h2>Shipping Address</h2>

        <!-- Shipping form -->
        <form class="checkout-form" [formGroup]="checkoutForm">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput appEmail maxlength="500" formControlName="buyerEmail" />
          </mat-form-field>

          <div class="sub-inputs">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput appPersonName maxlength="100" formControlName="firstName" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput appPersonName maxlength="100" formControlName="lastName" />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Address Line 1</mat-label>
            <input matInput appAddress maxlength="200" formControlName="addressLine1" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Address Line 2</mat-label>
            <input matInput appAddress maxlength="100" formControlName="addressLine2" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput appCity maxlength="200" formControlName="city" />
          </mat-form-field>

          <div class="sub-inputs">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <mat-select formControlName="state" placeholder="Select one">
                <mat-option value="" disabled>Select one</mat-option>

                @for (state of states; track $index) {
                  <mat-option [value]="state.code">{{ state.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>ZIP Code</mat-label>
              <input matInput appZipCode maxlength="5" formControlName="postalCode" />
            </mat-form-field>
          </div>

          <app-phone-input [required]="true" formControlName="phone"></app-phone-input>
        </form>

        <button matButton="filled" matStepperNext [disabled]="!checkoutForm.valid">Next</button>
      </mat-step>

      <mat-step [completed]="false">
        <ng-template matStepLabel>Review and Submit</ng-template>

        <h2>Review your shipping address</h2>

        <div>
          <h3>Ships to:</h3>
          <p>{{ shippingFullName() }}</p>
          <p>{{ shippingFullAddress() }}</p>
          <p><b>Contact:</b> {{ formPhone }}</p>
        </div>

        <h3>Total: {{ subtotal | currency }}</h3>

        <button matButton="filled" (click)="placeOrder()">Place Order</button>
      </mat-step>
    </mat-stepper>
  </section>

  <section class="summary-box">
    <h2>Summary</h2>
    <hr />
    <h3>Total: {{ subtotal | currency }}</h3>
  </section>

  <section class="cart-contents-box">
    @if (cartItems !== null) {
      <h2>In your cart</h2>
      <hr />
      <app-cart-item-card-list [cartItems]="cartItems" [showDelete]="false" />
    }
  </section>
</div>
