.notification-container {
  width: 500px;
  padding: 4px;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.notification-msg-btn {
  cursor: pointer;
  background: none;
  border: none;
  flex: 1;
}

.notif-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notif-message {
  font-size: 15px;
  font-weight: 400;
  text-align: left;

  &.unread {
    color: var(--qm-text-primary);
    font-weight: bold;
  }
}

.notif-time {
  font-size: 12px;
  align-self: flex-start;
  color: var(--mdc-theme-on-surface-variant);
}

.options-btn {
  display: block;
  margin-left: 8px;
}
