<div class="item-card">
  <div class="image-wrapper">
    <img [src]="listing.imageUrl || 'assets/no_image.jpg'" [alt]="listing.title" />
  </div>

  <div class="info">
    <h3 class="title">{{ listing.title }}</h3>
    <p class="price">{{ listing.price | currency }}</p>
    @if (showUsername) {
      <button class="user-link" (click)="navigateToUser()">{{ listing.sellerUsername }}</button>
    }
  </div>

  @if (loggedIn && !isListingCurrentUser) {
    <button class="cart-button" matTooltip="Add to Cart" mat-fab (click)="addToCart()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  }
</div>
