<div class="item-card">
  <button class="item-link" (click)="navigateToItem()">
    <div class="image-wrapper">
      <img [src]="listing.imageUrl || 'assets/no_image.jpg'" [alt]="listing.title" />
    </div>
  </button>

  <div class="info">
    <button class="item-link" (click)="navigateToItem()">
      <h3 class="title">{{ listing.title }}</h3>
    </button>

    @if (listing.reviewCount !== 0) {
      <app-rating-display
        [rating]="listing.averageScore"
        [count]="listing.reviewCount"
      ></app-rating-display>
    } @else {
      <p>No reviews yet</p>
    }

    <p class="price">{{ listing.price | currency }}</p>
    @if (showUsername) {
      <button class="user-link" (click)="navigateToUser()">{{ listing.sellerUsername }}</button>
    }
    <p>{{ listing.quantitySold | appShortNumber }} sold</p>
  </div>

  @if (canAddToCart()) {
    <button class="cart-button" matTooltip="Add to Cart" mat-fab (click)="addToCart()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  }
</div>
