<div class="center-align">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput (change)="formValid()" formControlName="username" required />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput (change)="formValid()" type="password" formControlName="password" required />
    </mat-form-field>

    <br />
    @if (!loading()) {
      <button matButton="filled" (click)="login()" [disabled]="btnLoginDisabled">Login</button>
      <div>New user? <a [routerLink]="['/register']">Sign up</a></div>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </form>
</div>
