@if (showFooter()) {
  <footer class="bottom-footer">
    <section aria-labelledby="footer-customer-service">
      <h2 id="footer-customer-service">Customer Service</h2>
      <p>Contact us at info@yellrecords.com</p>
    </section>

    <section aria-labelledby="footer-legal">
      <h2 id="footer-legal">Legal</h2>
      <p><a href="policy/terms-of-service">Terms of Service</a></p>
      <p><a href="policy/privacy-policy">Privacy Policy</a></p>
    </section>

    <section aria-labelledby="footer-credits">
      <h2 id="footer-credits">Credits</h2>
      <p>&copy; 2026 Yell Records - Developed by Matthew Cumbo</p>
    </section>
  </footer>
}
