<div class="dashboard-container">
  <h1>Seller Dashboard</h1>

  <h2>Unfinished orders</h2>
  @if (loadingInProgress()) {
    <mat-spinner></mat-spinner>
  } @else if (paginatorInProgress.length === 0) {
    <p>Nothing to show.</p>
  } @else {
    <mat-accordion>
      <div>
        @for (item of paginatorInProgress.pagedItems(); track $index) {
          <app-order [order]="item" [forSeller]="true" [isAlt]="$index % 2 === 0"></app-order>
          <div class="panel"></div>
        }
      </div>
    </mat-accordion>

    <mat-paginator
      [length]="paginatorInProgress.length"
      [pageIndex]="paginatorInProgress.pageIndex"
      [pageSize]="paginatorInProgress.pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="paginatorInProgress.onPage($event)"
    ></mat-paginator>
  }

  <h2>Completed orders</h2>
  @if (loadingCompleted()) {
    <mat-spinner></mat-spinner>
  } @else if (paginatorCompleted.length === 0) {
    <p>Nothing to show.</p>
  } @else {
    <mat-accordion>
      @for (item of paginatorCompleted.pagedItems(); track $index) {
        <app-order [order]="item" [forSeller]="true" [isAlt]="$index % 2 === 0"></app-order>
        <div class="panel"></div>
      }
    </mat-accordion>

    <mat-paginator
      [length]="paginatorCompleted.length"
      [pageIndex]="paginatorCompleted.pageIndex"
      [pageSize]="paginatorCompleted.pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="paginatorCompleted.onPage($event)"
    ></mat-paginator>
  }
</div>
