<div>
  <h1>Category Management</h1>

  <hr />

  <app-admin-category-display [categories]="categories"></app-admin-category-display>

  <hr />

  <section class="create-category-section">
    <h2>Create new category</h2>

    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <input matInput appTitle maxlength="50" [formControl]="categoryNameControl" />
    </mat-form-field>

    <button matButton="filled" [disabled]="!categoryNameControl.valid" (click)="submitCreateForm()">
      Save
    </button>
  </section>
</div>
