<div>
  @if (loading()) {
    <mat-spinner></mat-spinner>
  } @else if (isError()) {
    <h1>Order not found</h1>
    <p>An order with this ID could not be located.</p>
  } @else if (orderDetails) {
    <h1>Order #{{ orderDetails.orderNumber }}</h1>

    <p>Status: {{ orderDetails.status }}</p>

    <p>Created: {{ creationDateRelevant() }}</p>

    @if (orderDetails.status === OrderStatus.PAID) {
      <button matButton="filled" (click)="setInProgress()">Mark as In-Progress</button>
    }

    <!-- Shipping -->
    <div>
      <h2>Ship to</h2>
      <p>{{ fullNameOf(orderDetails) }}</p>
      <p>{{ fullAddressOf(orderDetails) }}</p>
    </div>

    <!-- Email -->
    <div>
      <h2>Customer Email</h2>
      <p>{{ orderDetails.buyerEmail }}</p>
    </div>

    <!-- Payment -->
    <div>
      <h2>Payment totals</h2>

      <p>Subtotal: {{ orderDetails.subtotal | currency }}</p>
      <p>Tax: {{ orderDetails.tax | currency }}</p>
      <p>Shipping: {{ orderDetails.shippingCost | currency }}</p>

      <br />
      <p>Total paid: {{ orderDetails.totalPaid | currency }}</p>
    </div>

    <!-- Items -->
    <div>
      <h2>Items in this order</h2>

      @for (item of orderDetails.orderItems; track $index) {
        <app-order-item [itemInfo]="item"></app-order-item>
      }
    </div>

    <!-- Tracking -->
    <div>
      <h2>UPS Tracking Number</h2>
      @if (orderDetails.status === OrderStatus.IN_PROGRESS) {
        <!-- Tracking number form -->
        <div>
          <p>Provide the UPS tracking number to set this order as shipped.</p>
          <mat-form-field appearance="outline">
            <mat-label>UPS Tracking Number</mat-label>
            <input matInput maxlength="18" [formControl]="upsTrackingNumberControl" />
          </mat-form-field>

          <button
            matButton="filled"
            [disabled]="!upsTrackingNumberControl.valid"
            (click)="submitShipping()"
          >
            Mark as Shipped
          </button>
        </div>
      } @else if (shouldDisplayStaticShipping()) {
        <p>{{ orderDetails.trackingNumber! }}</p>
      }
    </div>
  }
</div>
