.page-padding {
  padding: 100px 24px;
  min-height: 400px;
}

.screen-layout {
  min-height: 100dvh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

@media (max-width: 480px) {
  .page-padding {
    padding: 0px 0px; /* reduce horizontal padding */
  }

  .screen-layout {
    overflow-x: hidden; /* prevent horizontal scroll */
  }
}
