<div>
  <h1>Completed Orders</h1>

  @if (loading()) {
    <mat-spinner></mat-spinner>
  } @else {
    <app-order-number-search></app-order-number-search>

    <app-orders-list [orders]="finishedOrders"></app-orders-list>

    @if (finishedOrders.length > 10) {
      <mat-paginator
        [length]="orderPaginator.length"
        [pageIndex]="orderPaginator.pageIndex"
        [pageSize]="orderPaginator.pageSize"
        [pageSizeOptions]="[10, 20, 50]"
        (page)="orderPaginator.onPage($event)"
      >
      </mat-paginator>
    }
  }
</div>
