<div>
  @if (orders.length === 0) {
    <p>{{ emptyText }}</p>
  } @else {
    <table class="orders-table">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Total</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (order of orders; track $index) {
          <tr>
            <td>
              <a [routerLink]="['/admin-dashboard/orders/order-details', order.id]">
                {{ order.orderNumber }}
              </a>
            </td>
            <td>{{ fullNameOf(order) }}</td>
            <td>{{ normalizeStatus(order.status) }}</td>
            <td>{{ order.totalPaid | currency }}</td>
            <td>{{ relevantTime(order.createdAt) }}</td>
            <td>
              <button class="view-button" (click)="navigateToOrder(order)">View</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
