<div class="dash-container">
  <aside class="dash-menu">
    <h2>Admin Dashboard</h2>

    <div class="nav-group">
      <h3>Categories</h3>
      <a class="child" routerLink="category-management" routerLinkActive="active">
        Category Management
      </a>
    </div>

    <div class="nav-group">
      <h3>Product Listings</h3>
      <a class="child" routerLink="create-listing" routerLinkActive="active">
        Create new Product Listing
      </a>
      <a class="child" routerLink="list-of-products" routerLinkActive="active">List of Products</a>
    </div>

    <div class="nav-group">
      <h3 class="parent">Artist Pages</h3>
      <a class="child" routerLink="add-artist-page" routerLinkActive="active">Create Artist Page</a>
    </div>

    <div class="nav-group">
      <h3 class="parent">Orders</h3>
      <a class="child" routerLink="orders/in-progress" routerLinkActive="active"> In-Progress </a>
      <a class="child" routerLink="orders/completed" routerLinkActive="active"> Completed </a>
    </div>

    <div class="nav-group">
      <h3 class="parent">Edit Policies</h3>
      <a class="child" routerLink="policies/privacy-policy/edit">Privacy Policy</a>
      <a class="child" routerLink="policies/terms-of-service/edit">Terms of Service</a>
    </div>
  </aside>

  <section class="dash-contents">
    <router-outlet></router-outlet>
  </section>
</div>
