<div class="dash-container">
  <aside class="dash-menu">
    <h2>Admin Dashboard</h2>

    <a routerLink="category-management" routerLinkActive="active">Category Management</a>

    <div class="nav-group">
      <h3>Product Listings</h3>
      <a class="child" routerLink="create-listing" routerLinkActive="active">
        Create new Product Listing
      </a>
      <a class="child" routerLink="list-of-products" routerLinkActive="active">List of Products</a>
    </div>

    <div class="nav-group">
      <h3 class="parent">Orders</h3>
      <a class="child" routerLink="orders/in-progress" routerLinkActive="active"> In-Progress </a>
      <a class="child" routerLink="orders/completed" routerLinkActive="active"> Completed </a>
    </div>
  </aside>

  <section class="dash-contents">
    <router-outlet></router-outlet>
  </section>
</div>
