<div class="listings-container">
  @if (loggedIn && hasOwnedListings()) {
    <div>
      <mat-slide-toggle [(ngModel)]="showUserListings" (change)="showUserListingsToggled()">
        Show my listings
      </mat-slide-toggle>
    </div>
  }

  @if (loadingListings()) {
    <mat-spinner></mat-spinner>
  } @else if (paginatorListings.length === 0) {
    <p class="center-align">There are no listings yet.</p>
  } @else {
    <mat-grid-list cols="4" rowHeight="2:1">
      @for (item of paginatorListings.pagedItems(); track $index) {
        <mat-grid-tile>
          <app-item-listing [listing]="item"></app-item-listing>
        </mat-grid-tile>
      }
    </mat-grid-list>

    <mat-paginator
      [length]="paginatorListings.length"
      [pageIndex]="paginatorListings.pageIndex"
      [pageSize]="paginatorListings.pageSize"
      [pageSizeOptions]="[5, 20, 50]"
      (page)="paginatorListings.onPage($event)"
    ></mat-paginator>
  }
</div>
@if (loggedIn) {
  <div class="floating-btn-container">
    <button matFab matTooltip="View cart" (click)="openCartDialog()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button
      matFab
      matTooltip="Create listing"
      class="create-listing-btn"
      (click)="openAddListingDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
}
