<div class="listings-container">
  @if (loggedIn && hasOwnedListings()) {
    <div>
      <mat-slide-toggle [(ngModel)]="showUserListings" (change)="showUserListingsToggled()">
        Show my listings
      </mat-slide-toggle>
    </div>
  }

  @if (displayedListings() === null) {
    <mat-spinner></mat-spinner>
  } @else if (displayedListings()!.length === 0) {
    <p class="center-align">There are no listings yet.</p>
  } @else {
    <mat-grid-list cols="4" rowHeight="2:1">
      @for (item of displayedListings(); track $index) {
        <mat-grid-tile>
          <app-item-listing [listing]="item"></app-item-listing>
        </mat-grid-tile>
      }
    </mat-grid-list>
  }
</div>
@if (loggedIn) {
  <div class="floating-btn-container">
    <button matFab matTooltip="View cart" (click)="openCartDialog()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button
      matFab
      matTooltip="Create listing"
      class="create-listing-btn"
      (click)="openAddListingDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
}
