<app-shipping-alert></app-shipping-alert>

<app-category-list [categories]="categories"></app-category-list>

<div class="listings-container">
  @if (loadingListings()) {
    <mat-spinner></mat-spinner>
  } @else if (paginatorListings.length === 0) {
    <p class="center-align">No product listings were found.</p>
  } @else {
    <app-item-listing-list [listings]="paginatorListings.pagedItems()"></app-item-listing-list>

    @if (paginatorListings.length > 20) {
      <br />

      <mat-paginator
        [length]="paginatorListings.length"
        [pageIndex]="paginatorListings.pageIndex"
        [pageSize]="paginatorListings.pageSize"
        [pageSizeOptions]="[20, 50]"
        (page)="paginatorListings.onPage($event)"
      ></mat-paginator>
    }
  }
</div>
