<div class="user-card">
  <div>
    <button class="avatar-btn clickable" (click)="navigateProfile()">
      <app-user-avatar [username]="user.username" [clickable]="true" size="md"></app-user-avatar>
    </button>
  </div>

  <div>
    <div class="username no-text-cursor">{{ user.username }}</div>
    <div class="currency no-text-cursor">{{ user.balance | currency }}</div>
  </div>

  <div class="sub-menu">
    <button matIconButton [matMenuTriggerFor]="notificationMenu" matTooltip="Notifications">
      <mat-icon [matBadge]="notificationTotal()" [matBadgeHidden]="notificationTotal() === 0">
        notifications
      </mat-icon>
    </button>
    <mat-menu class="notif-menu-panel" xPosition="before" yPosition="below" #notificationMenu>
      @if (notifications()?.length === 0) {
        <div class="notification-none-msg">
          <p>All caught up!</p>
        </div>
      } @else {
        <div class="notification-container">
          @for (notif of notifications(); track $index) {
            <app-notification-item
              [notification]="notif"
              (markedAsRead)="lowerNotifBadgeCount($event)"
              (markedHidden)="hideNotif($event)"
            ></app-notification-item>
          }
        </div>
      }
    </mat-menu>

    <app-cart-button></app-cart-button>

    <button matIconButton [matMenuTriggerFor]="userOptions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userOptions>
      <button mat-menu-item (click)="navigateProfile()">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>

      <button mat-menu-item (click)="navigateTo('purchases')">
        <mat-icon>payments</mat-icon>
        <span>Purchases</span>
      </button>

      <button mat-menu-item (click)="navigateTo('dashboard')">
        <mat-icon>list_alt</mat-icon>
        <span>Seller Dashboard</span>
      </button>

      @if (userIsAdmin()) {
        <button mat-menu-item (click)="navigateTo('admin-dashboard')">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin Dashboard</span>
        </button>
      }

      <button mat-menu-item (click)="navigateTo('account-settings')">
        <mat-icon>settings</mat-icon>
        <span>Account Settings</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
